{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "documentation.pdf",
            "label": "arc42 Documentation PDF"
          }
        ]
      }
    ]
  ]
}
